@charset "utf-8";
@import "~bulma/sass/utilities/_all";

.block-js.editing {

  .bj-layout {
    cursor: pointer;

    .bj-layout-item-default {
      flex: 1;     
      height: 5em;
      margin: 0.5em;
      background-color: change-color($grey-lighter, $alpha: 0.5);
    }

    .bj-layout-label {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-100%, 0);
      font-size: 12px;
      background-color: $warning;
    }
    &:hover, &.selected {
      z-index: 100;
      box-shadow: 0 0 3px $warning;

      .bj-layout-label {
        display: block;
        padding: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        box-shadow: 0 0 3px $warning;
      }
    }
  }
}

.bj-toolbar {
  padding: 0.5em 3em;
}

.blockjs-inspector {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px; 
  box-shadow: 0 0 5px $grey-lighter;

  .empty-tips {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}