@charset "utf-8";
@import "~bulma/sass/utilities/_all";

.block-js {

  .bj-layout {
    cursor: pointer;

    .bj-layout-item-default {
      flex: 1;     
      height: 5em;
      border: 2px dashed $grey-lighter;
      background-color: change-color($grey-lighter, $alpha: 0.5);
    }
    
    &:hover, &.selected {
      z-index: 100;

      &::before {
        display: block;
        content: ' ';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border: 2px solid $warning;
      }

      .bj-block-side-tools {
        display: flex;
      }
    }
  }
}

.bj-toolbar {
  z-index: 100;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4px $grey-lighter;
  background-color: $white;
  height: 50px;
  padding: 0.5em 3em;
}

.blockjs-inspector {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px; 
  box-shadow: 0 0 5px $grey-lighter;

  .empty-tips {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bj-block-side-tools {
  display: none;
  position: absolute;
  top: 0;
  left: 0px;
  transform: translate(-100%, 0);
  font-size: 12px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  > * {
    margin-bottom: 3px;
  }

  .bj-block-label {
    display: block;
    padding: 3px 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: $warning;
  }
}