@charset "utf-8";
@import "./font-awesome/scss/fontawesome.scss";
@import "./font-awesome/scss/solid.scss";
@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";

.block-js {

  .bj-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 0;

    .bj-layout-item-default {
      flex: 1;     
      height: 5em;
      margin: 0.5em;
      background-color: change-color($grey-lighter, $alpha: 0.5);
    }
  }

  &.editing {
    .bj-layout {
      cursor: pointer;

      .bj-layout-label {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-100%, 0);
        font-size: 12px;
        background-color: $warning;
      }
      &:hover, &.selected {
        z-index: 100;
        box-shadow: 0 0 3px $warning;

        .bj-layout-label {
          display: block;
          box-shadow: 0 0 3px $warning;
        }
      }
    }
  }
}

.bj-toolbar {
  z-index: 100;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4px $grey-lighter;
  background-color: $white;
  height: 50px;
}

.blockjs-inspector {
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  margin-top: 50px;
  box-shadow: 0 0 4px $grey-lighter;
  background-color: $white;

  .empty-tips {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}